html {
  scroll-behavior: smooth;
}

/* Typing Effect */
.typing span::after {
  content: "I'm Vidhi Patel";
  animation: typing 9s infinite;
}

@keyframes typing {
  0% { content: "I'm Vidhi Patel"; }
  33% { content: "I'm Web Developer"; }
  66% { content: "I'm Photographer"; }
  100% { content: "I'm Vidhi Patel"; }
}

/* Service Box */
.service-box {
  padding: 30px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.service-box:hover {
  background: black;
  color: white;
}
