/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Navbar Hover */
.nav-link {
  transition: 0.3s;
}

.nav-link:hover {
  color: #3b82f6;
}

/* Cards */
.card {
  background: #111827;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  background: #1f2937;
  transform: translateY(-8px);
}

/* Typing Effect */
.typing-wrapper {
  font-size: 28px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
  width: 0;
  animation: typing 6s steps(30, end) infinite,
             blink 0.8s infinite;
}

/* Text Change */
.typing-text::before {
  content: "I'm Vidhi Patel";
  animation: textChange 9s infinite;
}

/* Width Animation */
@keyframes typing {
  0% { width: 0; }
  30% { width: 260px; }
  40% { width: 0; }
  60% { width: 280px; }
  70% { width: 0; }
  100% { width: 0; }
}

/* Cursor Blink */
@keyframes blink {
  50% { border-color: transparent; }
}

/* Text Switching */
@keyframes textChange {
  0% { content: "I'm Vidhi Patel"; }
  33% { content: "I'm Web Developer"; }
  66% { content: "I'm Photographer"; }
  100% { content: "I'm Vidhi Patel"; }
}
